{% extends "base.html" %}

<head>
    {% load static %}
    <link href="{% static '/careers/careers.css' %}" rel="stylesheet">
</head>

{% block content %}
{#    {% for services in services %}#}
{#        <div>#}
{#            <h2 style="color: white">{{ services.title }}</h2>#}
{#            <p style="color: white">{{ services.content }}</p>#}
{#            <img src="{{ services.image.url }}" alt="">#}
{#        </div>#}
{#    {% endfor %}#}

    <h1 class="titulo">hola mundo!</h1>
{% endblock %}